<ion-view style="" id="page10" title="Ajouter point de collecte">
  <ion-content class="has-header" padding="true">
    <form class="list" id="ajouterPointDeCollecte-form7">
      <label name="libelle" id="ajouterPointDeCollecte-input17" class="item item-input item-floating-label">
        <span class="input-label">Nom</span>
        <input placeholder="Nom du point de collecte" type="text">
      </label>
      <label name="type" id="ajouterPointDeCollecte-select3" class="item item-select">
        <span class="input-label">Type</span>
        <select>
          <option>Maison</option>
          <option>Depôt</option>
          <option>Quartier</option>
          <option>Bureau</option>
        </select>
      </label>
    </form>

    <div>
      <label class="input-label">Localisation</label>
    </div>

    <div>
      <creator-map-component options="{}" marker="true" location="Dakar" zoom="12" style="display:block;position:relative;margin-left:-10px;width:calc(100% + 20px);height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    </div> <br/>

    <div class="button-bar" id="ajouterPointDeCollecte-button-bar1">
      <button class="button button-assertive button-block icon-right ion-android-cancel" id="ajouterPointDeCollecte-button15">Annuler</button>
      <button class="button button-balanced button-block icon-right ion-checkmark" id="ajouterPointDeCollecte-button16">Valider</button>
    </div>
  </ion-content>
</ion-view>