<ion-view style="" id="page4" title="Connexion">
  <ion-content class="has-header" padding="true">
    <div style="width: 286px; height: 23px;" class="spacer"></div>
    <div>
      <img style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;" src="img/wQ5EBTJJRYmwhcrsMLmw_Recycle-1560x1398.png">
    </div>
    <div style="width: 286px; height: 30px;" class="spacer"></div>
    <form class="list" id="connexion-form2">
      <ion-list id="connexion-list3">
        <label name="pseudo" id="connexion-input3" class="item item-input item-stacked-label pseudo">
          <span class="input-label">Pseudo</span>
          <input placeholder="Pseudo" type="text">
        </label>
        <label name="mdp" id="connexion-input4" class="item item-input item-stacked-label mdp">
          <span class="input-label">Mot de passe</span>
          <input placeholder="Mot de passe" type="password">
        </label>
      </ion-list>
      <div style="width: 286px; height: 1px;" class="spacer"></div>
      <div style="width: 286px; height: 30px;" class="spacer"></div>
    </form>
    <a class="button button-balanced button-block icon-right ion-log-in" id="connexion-button17" ui-sref="pointsDeCollecte()">Log in</a>
    <div align="center">
      <a ui-sref="remake3R"> Retour à l'accueil </a>
    </div>
  </ion-content>
</ion-view>