<ion-view title="Infos points de collecte">
 
 
    <ion-content padding="true" class="has-header">

  <h4 class="titre">Tri selectif</h4> <hr/> <br/>

<div class="list">
  <div class="item item-divider">
   <img src="img/bouteille.png" class="dechet"/>
   <span class="valeur" id="val">5</span>
   <a href="" ng-click="ajout()"> <span class="ion-android-add icone"></span> </a>
   <a href="" ng-click="diminu()"><span class="ion-minus ico"></span></a> <br/>
   <span class="libe">Bouteille</span>
  </div> <br/>

  <div class="item item-divider">
   <img src="img/bassine.png" class="dechet"/>
   <span class="valeur" id="vl">10</span>
   <a href="" onclick="ajouter()"><span class="ion-android-add icone"></span></a>
   <a href="" onclick="min()"><span class="ion-minus ico"></span></a> <br/>
   <span class="libe">Bassine</span>
  </div> <br/>

  <div class="item item-divider">
   <img src="img/seau.png" class="dechet"/>
   <span class="valeur" id="v">15</span>
   <a href="" onclick="aug()"><span class="ion-android-add icone"></span></a>
   <a href="" onclick="mini()"><span class="ion-minus ico"></span></a> <br/>
   <span class="libe" style="padding-left:10px;">Seau</span>
  </div> <br/>

  <div class="item item-divider">
   <img src="img/sachet.png" class="dechet"/>
   <span class="valeur" id="vle">20</span>
   <a href="" onclick="maxi()"><span class="ion-android-add icone"></span></a>
   <a href="" onclick="minim()"><span class="ion-minus ico"></span></a> <br/>
   <span class="libe" style="padding-left:5px">Sachet</span>
  </div> <br/>

  <div class="item item-divider">
   <img src="img/cup.png" class="dechet"/>
   <span class="valeur" id="vale">25</span>
   <a href="" onclick="maximize()"><span class="ion-android-add icone"></span></a>
   <a href="" onclick="minimize()"><span class="ion-minus ico"></span></a> <br/>
   <span class="libe" style="padding-left: 6px;">Goblet</span>
  </div> 
</div>

  <div class="button-bar">
    <button class="button button-assertive button-block icon-right ion-android-cancel" ui-sref="pointsDeCollecte()">Annuler</button>
    <button class="button button-balanced button-block icon-right ion-checkmark">Valider</button>
  </div>  <br/> <br/> <br/>

    </ion-content>
    
    <ion-tabs class="tabs-stripped tabs-positive">

    <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
      <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
      <!-- Tab 2 content -->
  <ion-content>
 <!-- A laisser comme ça afin que le 2éme ion-content puisse s'afficher correctemnt -->
  </ion-content>
   
  <ion-content>

    <h4 class="titre">Paramètres du point de collecte</h4> <hr/> <br/>
    
 <form class="list" id="ajouterPointDeCollecte-form7">
      <label name="libelle" id="ajouterPointDeCollecte-input17" class="item item-input item-floating-label">
        <span class="input-label">Nom</span>
        <input placeholder="Nom du point de collecte" type="text" ng-model="nom"/>
      </label>
      <label for="type" id="ajouterPointDeCollecte-select3" class="item item-select">
        <span class="input-label">Type</span>
        <select name="type" id="type">
          <option value="maison">Maison</option>
          <option value="depot">Depôt</option>
          <option value="quartier">Quartier</option>
          <option value="bureau">Bureau</option>
        </select>
      </label>
    </form>

    <div>
      <label class="input-label">Localisation</label>
    </div>

    <div>
      <creator-map-component id="map" options="{}" marker="true" location="Dakar" zoom="12" style="display:block;position:relative;margin-left:-10px;width:calc(100% + 20px);height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    </div> <br/>

    <div class="button-bar" id="ajouterPointDeCollecte-button-bar1">
      <button class="button button-assertive button-block icon-right ion-android-cancel" id="ajouterPointDeCollecte-button15" ui-sref="pointsDeCollecte()">Annuler</button>
      <button class="button button-balanced button-block icon-right ion-checkmark" id="ajouterPointDeCollecte-button16">Valider</button>
    </div>
  </ion-content>

    </ion-tab>

  </ion-tabs>

</ion-view>