<ion-view style="" title="Infos points de collecte">
 
 
    <ion-content padding="true" class="has-header">

      <table>
        <caption>Dechets</caption>
    <tr>
      <td> <img src="img/bouteille.png" class="dechet"/> <span class="valeur">50</span> </td>
      <td> <i class="ion-android-add"></i> </td>
    </tr> 

  </table>

    </ion-content>
    
    <ion-tabs class="tabs-positive">

    <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
      <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
      <!-- Tab 2 content -->
  <ion-content>
 <!-- A laisser comme ça afin que le 2éme ion-content puisse s'afficher correctemnt -->
  </ion-content>
   
  <ion-content>
 <h1>Salut les gens !</h1>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sint provident fugiat nobis non adipisci minus saepe enim, laudantium reprehenderit aliquid, eius ratione modi vero ipsa suscipit alias cumque cupiditate?</p>
  </ion-content>

    </ion-tab>

  </ion-tabs>

</ion-view>