<ion-view style="" title="Infos points de collecte">
 
 
    <ion-content padding="true" class="has-header">

      <!--table>
        <caption>Dechets</caption>
    <tr>
      <td> <img src="img/bouteille.png" class="dechet"/> <span class="valeur">50</span> </td>
      <td> <i class="ion-android-add"></i> </td>
    </tr> 

  </table-->

  <h1 class="titre">Tri selectif</h1>

<div class="list">
  <div class="item item-divider">
   <img src="img/bouteille.png" class="dechet"/>
   <span class="valeur">50</span>
   <span class="ion-android-add icone"></span>
   <span class="ion-minus ico"></span>
  </div> <br/>

  <div class="item item-divider">
   <img src="img/bassine.png" class="dechet"/>
   <span class="valeur">50</span>
   <span class="ion-android-add icone"></span>
   <span class="ion-minus ico"></span>
  </div> <br/>

  <div class="item item-divider">
   <img src="img/seau.png" class="dechet"/>
   <span class="valeur">50</span>
   <span class="ion-android-add icone"></span>
   <span class="ion-minus ico"></span>
  </div> <br/>

  <div class="item item-divider">
   <img src="img/sachet.png" class="dechet"/>
   <span class="valeur">50</span>
   <span class="ion-android-add icone"></span>
   <span class="ion-minus ico"></span>
  </div> <br/>

  <div class="item item-divider">
   <img src="img/cup.png" class="dechet"/>
   <span class="valeur">50</span>
   <span class="ion-android-add icone"></span>
   <span class="ion-minus ico"></span>
  </div> 
</div>

  <div class="button-bar">
    <button class="button button-assertive button-block icon-right ion-android-cancel">Annuler</button>
    <button class="button button-balanced button-block icon-right ion-checkmark">Valider</button>
  </div>  <br/> <br/>

    </ion-content>
    
    <ion-tabs class="tabs-positive">

    <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
      <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
      <!-- Tab 2 content -->
  <ion-content>
 <!-- A laisser comme ça afin que le 2éme ion-content puisse s'afficher correctemnt -->
  </ion-content>
   
  <ion-content>
 <h1>Salut les gens !</h1>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sint provident fugiat nobis non adipisci minus saepe enim, laudantium reprehenderit aliquid, eius ratione modi vero ipsa suscipit alias cumque cupiditate?</p>
  </ion-content>

    </ion-tab>

  </ion-tabs>

</ion-view>