<ion-view style="" id="page5" title="Inscription">
  <ion-content class="has-header" padding="true">
    <form class="list" id="inscription-form3">
      <ion-list id="inscription-list4">
        <label name="nom" id="inscription-input5" class="item item-input item-floating-label nom">
          <span class="input-label">Nom</span>
          <input placeholder="Nom" type="text">
        </label>
        <label name="prenom" id="inscription-input8" class="item item-input item-floating-label prenom">
          <span class="input-label">Prenom</span>
          <input placeholder="Prenom" type="text">
        </label>
        <label name="mail" id="inscription-input6" class="item item-input item-floating-label mail">
          <span class="input-label">Email</span>
          <input placeholder="Email" type="email">
        </label>
        <label name="mdp" id="inscription-input7" class="item item-input item-floating-label mdp">
          <span class="input-label">Mot de passe</span>
          <input placeholder="Mot de passe" type="password">
        </label>
        <label name="cmdp" id="inscription-input10" class="item item-input item-floating-label cmdp">
          <span class="input-label">Confirmer</span>
          <input placeholder="Confirmer mot de passe" type="password">
        </label>
        <label name="tel" id="inscription-input9" class="item item-input item-floating-label tel">
          <span class="input-label">Telephone</span>
          <input placeholder="Telephone" type="tel">
        </label>
      </ion-list>
      <label name="categorie" id="inscription-select1" class="item item-select sexe">
        <span class="input-label">Vous êtes</span>
        <select>
          <option>Acheteur</option>
          <option>Collecteur</option>
        </select>
      </label>
      <label name="sexe" id="inscription-select2" class="item item-select sexe">
        <span class="input-label">Sexe</span>
        <select>
          <option>Femme</option>
          <option>Homme</option>
        </select>
      </label>
      <button class="button button-balanced button-block" id="inscription-button10">Sign up</button>
      <input value="Reset" class="button button-assertive button-block" type="reset">
    </form>
  </ion-content>
</ion-view>