<ion-view id="page9" title="Points de collecte">

<div>
  <a ui-sref="ajouterPointDeCollecte()" style="display:block;">
	<ion-floating-button has-footer="true" button-color="#33cd5f" icon="ion-plus" icon-color="#ffffff">
    </ion-floating-button>
    </a>
</div>

<ion-nav-buttons class="has-header" side="right">
	<button class="button icon ion-android-more-horizontal" ng-click="openPopover($event)"></button>
</ion-nav-buttons>

  <ion-content class="has-header" padding="true">

    <div class="bar bar-header">
      <h1 class="title">Mes points de collecte</h1>
    </div> <br/> <br/> <br/>

 <div>
      <table> 
        <div>
      <tr class="cadre">
          <td><a ui-sref="infosPointsDeCollecte()" class="link"><img src="img/2.png" class="pt"/><br/><span class="lib">Maison</span></a></td>
        </tr> 
        <tr>
          <td></td>
        </tr>
        </div>

        <div>
        <tr class="cadre">
          <td><a ui-sref="infosPointsDeCollecte()" class="link"><img src="img/1.png" class="pt"/><br/><span class="lib">Bureau</span></a></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        </div>

        <div>
        <tr class="cadre">
          <td><a ui-sref="infosPointsDeCollecte()" class="link"><img src="img/3.png" class="pt"/><br/><span class="lib">Quartier</span></a></td>
        </tr> 
        <tr>
          <td></td>
        </tr>
        </div>

        <div>
        <tr class="cadre">
          <td><a ui-sref="infosPointsDeCollecte()" class="link"><img src="img/4.png" class="pt"/><br/><span class="lib">Depôt</span></a></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        </div>                   
      </table>   
    </div> 

  </ion-content>
</ion-view>