<ion-view style="" id="page3" title="Remake3R">
  <ion-content class="has-header" padding="true" style="background: url(img/57ClEAsbQziKoMoqB3Cd_129560Z13F630-2I01.jpg) no-repeat center;background-size:cover;">
    <div style="width: 286px; height: 17px;" class="spacer"></div>
    <div>
      <img style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;" src="img/lJ82Y0LAR1CHApL85Pwv_Recycle-1560x1398.png">
    </div>
    <div style="width: 286px; height: 78px;" class="spacer"></div>
    <a class="button button-balanced button-block icon-right ion-android-unlock" style="border-radius:0px 0px 0px 0px;" id="remake3R-button9" ui-sref="connexion()">Se connecter</a>
    <a class="button button-balanced button-block icon-right ion-android-person-add" style="border-radius:00px 00px 00px 00px;" id="remake3R-button11" ui-sref="inscription()">S'enregistrer</a>
  </ion-content>
</ion-view>